@inject Microsoft.Extensions.Options.IOptions<ShopFront.Models.Settings> settings
@{
    ViewData["Title"] = "Hi Tech Huddle!";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3>Products Api</h3>
        <span id="ProductsApiPlaceholder"></span>
    </div>
    <div class="col-lg-4">
        <h3>Recommendations Api</h3>
        <span id="RecommendationsApiPlaceholder"></span>
    </div>
    <div class="col-lg-4">
        <h3>Ratings Api</h3>
        <span id="RatingsApiPlaceholder"></span>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        ($(document).ready(function(){
            var productsApiPlaceholder = $("#ProductsApiPlaceholder");
            var recommendationsApiPlaceholder = $("#RecommendationsApiPlaceholder");
            var ratingsApiPlaceholder = $("#RatingsApiPlaceholder");

            var productsApiUrl = "api/products";
            var ratingsApiUrl = "api/ratings";
            var recommendationsApiUrl = "api/recommendations";

            productsApiPlaceholder.text("loading...");
            recommendationsApiPlaceholder.text("loading...");
            ratingsApiPlaceholder.text("loading...");

            function callProductsApi(){
                $.ajax({
                    url: productsApiUrl + "?_=" + Math.random(),
                    type: "GET"
                })
                .success(function(message){
                    productsApiPlaceholder.text(message);
                })
                .error(function(){
                    productsApiPlaceholder.text("Not responding...");
                });
            };

            function callRecommendationsApi(){
                $.ajax({
                    url: recommendationsApiUrl + "?_=" + Math.random(),
                    type: "GET"
                })
                .success(function(message){
                    recommendationsApiPlaceholder.text(message);
                })
                .error(function(){
                    recommendationsApiPlaceholder.text("Not responding...");
                });
            };

            function callRatingsApi(){
                $.ajax({
                    url: ratingsApiUrl + "?_=" + Math.random(),
                    type: "GET"
                })
                .success(function(message){
                    ratingsApiPlaceholder.text(message);
                })
                .error(function(){
                    ratingsApiPlaceholder.text("Not responding...");
                });
            };

            setInterval(callProductsApi, 3000);
            setInterval(callRecommendationsApi, 3000);
            setInterval(callRatingsApi, 3000);
        }));
    </script>
}